.iniciar{
    background-color: rgb(231, 212, 39);
    font-weight: bold; /* Torna o botão "Start" em negrito */
    border-radius: 20px; /* Valor que controla o arredondamento dos cantos */

}
.pausar{
    background-color: rgb(231, 212, 39);
    font-weight: bold; /* Torna o botão "Start" em negrito */
    border-radius: 20px; /* Valor que controla o arredondamento dos cantos */
}
.reiniciar{
    background-color: rgb(231, 212, 39);
    font-weight: bold; /* Torna o botão "Start" em negrito */
    border-radius: 20px; /* Valor que controla o arredondamento dos cantos */
}
button{
    width: 10vw;
    height: 3vh;
    border: none;
}


